.detailedview__image {
  height: 140px;
}
.detailedview__image_main {
  height: 170px;
}
.detailedview__main_beer {
  color: #9B3200;
}
.detailedview__text {
  font-size: 1.2rem;
}
.listingView a:visited, a:link {
  color: #9B3200;
  text-decoration: none;
}
.detailedview__copy_link {
  color: #3e3a9b;
  padding-left: 10px;
  font-size: 2rem;
}
.detailedview__copy_text {
  font-size: 1rem;
  color: #D77200;
}
.detailedview__staticHeight {
  height: 250px;
}
.detailedview__simliarPadding {
  padding-bottom: 15px;
}


@media screen and (max-width: 550px) {
  .detailedview__main_beer {
    font-size: 1.5rem; //width: 60px;
  }
  .detailedview__main_tagline {
    font-size: 1rem;
  }
  .detailedview__text {
    font-size: 0.8rem;
  }
  .detailedview__image {
    height: 50px;
  }
  .detailedview__image_main {
    height: 80px;
  }
  .detailedview__staticHeight {
    height: 120px;
  }
}