.detailedview__image {
  width:60px;
  height: 140px;
}
.detailedview__main_beer {
  color: #9B3200;
}
.detailedview__main_tagline {
  color: #D77200;
}
.detailedview__text {
  font-size: 1.2rem;
}
.listingView a:visited, a:link {
  color: #9B3200;
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  .detailedview__main_beer {
    font-size: 1.5rem;
  }
  .detailedview__main_tagline {
    font-size: 1rem;
  }
  .detailedview__text {
    font-size: 0.8rem;
  }
  .detailedview__image {
    width: 60px;
    height: 140px;
  }
  .detailedview__borderImage {
    //border: #ddc884 1px solid;
    min-width:120px;
    padding: 15px;
  }
}