.header {
  background-color: #ff0000;
  -webkit-box-shadow: 0px 3px 1px #b20000;
  -moz-box-shadow: 0px 3px 1px #b20000;
  box-shadow: 0px 3px 1px #b20000;
}

.header__tittle {
  color: #FFE699;
}

.header__subtitle {
  color: #ddc884;
}