.listingView {
  position: relative;
}
.listingView { transition: all .2s ease-in-out; }
.listingView:hover { transform: scale(1.2);}

//.listingView a:visited, a:link {
//  color: #9B3200;
//}

.listingView__beer_name {
  text-align: center;
  //padding-bottom: 10%;
}

.listingView__main_tagline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50% , -50%);
}
.listingView__beerBackground {
  background-color: #FFFFFF;
}
.listingView__beerSize {
  height: 300px;
  width: 270px;
  transition: all .2s ease-in-out;
  padding: 15px;
  margin-top: 50px;
}
.listingView__beerSize:hover { transform: scale(1.2);}

.listingView__centerByMargins {
  margin-left: 30px;
  margin-right: 30px;
}
.listingView__main_tagline {
  color: #D77200;
}