.listingView {
  background-color: white;
  border: #ddc884 1px solid;
  margin: 20px;
  position: relative;
}
.listingView { transition: all .2s ease-in-out; }
.listingView:hover { transform: scale(1.2);}

.listingView a:visited, a:link {
  color: #9B3200;
}
.listingView__beer_name {
  text-align: center;
  padding-bottom: 10%;
}

.listingView__beerTagline {
  text-align: center;
  color: #D77200;
  position: absolute;
  bottom: 0;
}