html {
  font-size: 85%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f1f1f1; }

h1 {
  font-size: 3rem;
  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
  letter-spacing: 1px; }

h2 {
  font-size: 2rem;
  font-family: 'Luckiest Guy', sans-serif;
  letter-spacing: 1px; }

.header {
  background-color: #ff0000;
  -webkit-box-shadow: 0px 3px 1px #b20000;
  -moz-box-shadow: 0px 3px 1px #b20000;
  box-shadow: 0px 3px 1px #b20000; }

.header__tittle {
  color: #FFE699; }

.header__subtitle {
  color: #ddc884; }

.listingView {
  position: relative; }

.listingView:hover {
  transform: scale(1.2); }

.listingView__main_tagline {
  position: absolute;
  padding-top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D77200; }

.listingView__beerBackground {
  background-color: #FFFFFF; }

.listingView__beerSize {
  height: 300px;
  transition: all .2s ease-in-out;
  padding-top: 15px;
  margin-top: 50px; }

.listingView__centerByMargins {
  margin-left: 30px;
  margin-right: 30px; }

.listingView__padding_for_msg {
  padding-top: 50px; }

@media screen and (max-width: 550px) {
  .listingView__beerSize {
    width: auto; } }

.detailedview__image {
  height: 140px; }

.detailedview__image_main {
  height: 170px; }

.detailedview__main_beer {
  color: #9B3200; }

.detailedview__text {
  font-size: 1.2rem; }

.listingView a:visited, a:link {
  color: #9B3200;
  text-decoration: none; }

.detailedview__copy_link {
  color: #3e3a9b;
  padding-left: 10px;
  font-size: 2rem; }

.detailedview__copy_text {
  font-size: 1rem;
  color: #D77200; }

.detailedview__staticHeight {
  height: 250px; }

.detailedview__simliarPadding {
  padding-bottom: 15px; }

@media screen and (max-width: 550px) {
  .detailedview__main_beer {
    font-size: 1.5rem; }
  .detailedview__main_tagline {
    font-size: 1rem; }
  .detailedview__text {
    font-size: 0.8rem; }
  .detailedview__image {
    height: 50px; }
  .detailedview__image_main {
    height: 80px; }
  .detailedview__staticHeight {
    height: 120px; } }

.similarView {
  transition: all .2s ease-in-out;
  position: relative; }

.similarView:hover {
  transform: scale(1.1); }

.similarView__beerName {
  color: #9B3200;
  padding-top: 13px;
  transform: translate(-50%, -50%); }

.notfoundpage_link {
  padding-left: 10px; }

.notfoundpage__paddingTop {
  padding-top: 5%; }
