html {
  font-size: 85%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
}

h1 {
  font-size: 3rem;
  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h2 {
  font-size: 2rem;
  font-family: 'Luckiest Guy', sans-serif;
  letter-spacing: 1px;
}